<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo1-removebg-preview.png">
    <title>About</title>
    <link rel="stylesheet" href="style.css">

    <!-- link font google  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Condensed&display=swap" rel="stylesheet">

    <!-- link font awasemo 4 cdn-->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">  -->

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> 

    

</head>
<body>
    <section class="header1">
        <nav>
            <a href="index.html"> <img src="img/logo1-removebg-preview.png"></a>
            <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="course.html">COURSE</a></li>
                    <li><a href="blog.html">BLOG</a></li>
                    <li><a href="contact.html">CONTACT </a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()" ></i>
        </nav>



            <div class="text-box">
                <h1>About Us</h1>
                
                
            </div>
    </section>

    <!-- isi About us -->
    <section class="section">
        <div class="container">
            <div class="container-section">
                
                <div class="content">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                    <p> Quaerat voluptas repudiandae sit totam soluta sapiente ab nam mollitia, unde possimus molestiae hic atque culpa fugiat amet aliquid commodi optio adipisci! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nulla saepe minima cumque corrupti, voluptatem necessitatibus, maiores sequi nemo ad sapiente laboriosam dolore? Laudantium corrupti, sint eveniet natus earum ullam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic necessitatibus nam delectus quos aliquam commodi sapiente officia doloribus neque dicta nesciunt totam qui veniam, molestiae voluptatibus tempore expedita minima eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero magni fuga repellendus harum, nisi illo, officia excepturi dolorum quasi, ea dignissimos. Amet voluptate nihil quas laborum sapiente non ullam. Itaque?</p>
                    
                </div>
            </div>
            <div class="image-section">
                <img src="img/bg2.jpg">
            </div>
        </div>

    </section>




    <!-- Call to action -->

    <section class="cta">
        <h1>Enroll for our Various online courses <br> Anywhare from The Worls</h1>
        <a href="contact.html" class="hero-btn">Contact US</a>
    </section>


    <!-- foother -->

    <section class="foother">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nisi impedit, minima quisquam id libero autem magni eum qui voluptate <br> nostrum officia dolorem provident necessitatibus illo soluta neque porro debitis.</p>
        <div class="icons">
        <i class="fa fa-facebook"  ></i>
        <i class="fa fa-twitter" ></i>
        <i class="fa fa-instagram" ></i>
        <i class="fa fa-linkedin" ></i>
    </div>
    <p>23-10-2022 &copy; Kelompok 1</p>   
        <p>Made with <i class="fa fa-heart-o" > </i> Muhammad Idrus waliulu</p>  
    </section>


<!-- JavaScript untuk tombol Menu -->

<script>

    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right ="0";
    }
    function hideMenu(){
        navLinks.style.right ="-200px";

    }

</script>
    
</body>
</html>